extends layout

block content
   table
      tr
         th(colspan=2) Host Filter
      tr
         td alpha
         td
            input(type='text', value=0.5)
      tr
         th(colspan=2) Allocation Queue Manager
      tr
         td