extends layout

block content
    script(type='text/javascript', src='/js/requestactions.js')
    div
        div
            div
                b #{title}
            div
                form(role="form", method="post", action="/submit")
                    div
                        div
                            | Add a group

                        div
                            div
                                div
                                    | Group name
                                div
                                    input(type='text', id='group-name')
                            div
                                div
                                    | Group id
                                div
                                    input(type='text', id='group-id')
                            div
                                div
                                    button(id='add-group')
                                        | Add

                    div
                        div
                            | Add attributes
                        div
                            div
                                div
                                    label(for='select-group') Select group
                                    select(id='select-group')
                                        option(value='none')= '-'
                                div
                                    label(for='select-attr') Select attribute
                                    select(id='select-attr')
                                        //each atr in attrs
                                            //option(value=atr.attr)=atr.name

                                div
                                    label(for='attr-values') Edit attribute
                                    div#attr-values
                                div
                                    label(for='attr-actions') Actions
                                    div#attr-actions
                                        div
                                            button(id='add-attr') Add
                                        div
                                            button(id='remove-attr') Remove

                    button(type="submit")
                        | Submit request


