doctype 
html
  head
    title #{title} - Cloudstack Resource Scheduler
    link(rel='stylesheet', type='text/css' ,href='bootstrap.min.css')
  body
    .page-header
    h1
        | Specify Your Resource Request
      .container
      .main-content
        block content
    